/* Coolors Exported Palette - coolors.co/ffffff-00171f-003459-007ea7-00a8e8 */

// /* HSL */
// $color1: hsla(0%, 0%, 100%, 1);
// $color2: hsla(195%, 100%, 6%, 1);
// $color3: hsla(205%, 100%, 17%, 1);
// $color4: hsla(195%, 100%, 33%, 1);
// $color5: hsla(197%, 100%, 45%, 1);

/* RGB */
$white: rgba(255, 255, 255, 1);
$rich-black: rgba(0, 23, 31, 1);
$blue-dark: rgba(0, 52, 89, 1);
$blue: rgba(0, 126, 167, 1);
$blue-light: rgba(0, 168, 232, 1);

$elem-blue: #409EFF;
$elem-success: #67C23A;
$elem-danger: #F56C6C;
$elem-warning: #E6A23C;
$elem-info: #909399;

$grey-dark-1: #303133;
$grey-dark-2: #606266;
$grey-dark-3: #909399;
$grey-dark-4: #C0C4CC;

$grey-light-1: #DCDFE6;
$grey-light-2: #E4E7ED;
$grey-light-3: #EBEEF5;
$grey-light-4: #F2F6FC;
